header{
    height: 160px;
    background-color: #777777;
    padding: 0 50px;
}
main{
    background-image: url("../icons/familia-feliz.jpg");
}
#logo{
    height: 100px;
}
#credeasy{
    display: inline;
   /* position: absolute;
    top: 5px;
    left: 10%;*/
    font-size: 50px;
    color: #63c731;
}
header a{
    position: absolute;
    top: 15px;
    right: 10%;
    border: #63c731 solid 1px;
    padding: 7px 15px;
    text-decoration: none;
    border-radius: 8px;
    color: #ffffff;
}
header a:hover{
    text-decoration: underline;
    color: #63c731;
    font-size: 20px;
}
main{
    width: 940px;
    margin: auto;
}
.cadastro{
    
    position: absolute;
    top: 75px;
    right: 10%;
    width: 250px;
    border: #63c731 solid 1px;
    border-radius: 10px;
}
#cadastre-se{
    background-color: #63c731;
    padding: 10px 0 20px 0;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    border-radius: 8px;
}
.formulario-cadastro{
    background-color: #ffffff;
   /* padding: -1px 0 0 0;
    margin: -20px 0 0 0;*/
}
form{
    margin:-7px 30px 0;
    padding: 15px 25px 0 0;
}
form label{
    display: block;
    font-size: 15px;
    margin: 0 0 2px;
}
form input{
    display: block;
    margin: 0 0 10px;
    padding: 7px;
    border-radius: 10px;
    border: #63c731 solid 1px;
}
.enviar{
    margin-left: 40px;
}